requests.georgeflix.uk {
	encode zstd gzip
	reverse_proxy georgeflix_ombi:3579
}

deluge.i.dfl.mn {
	encode zstd gzip
	reverse_proxy georgeflix_deluge:8112
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

sonarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy georgeflix_sonarr:8989
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

radarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy georgeflix_radarr:7878
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

bazarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy georgeflix_bazarr:6767
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

jackett.i.dfl.mn {
	encode zstd gzip
	reverse_proxy georgeflix_jackett:9117
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
