chat.duffle.one {
	reverse_proxy /_matrix/* tasks_synapse:8008
	reverse_proxy /_synapse/client/* tasks_synapse:8008
}

chat.duffle.one:8448 {
	reverse_proxy tasks_synapse:8008
}

bot.duffle.one {
	reverse_proxy tasks_synapsebot:4050
}

requests.lauraflix.uk {
	encode zstd gzip
	reverse_proxy lauraflix_overseerr:5055
}

grocy.i.dfl.mn {
	encode zstd gzip
	reverse_proxy tasks_grocy:80
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

duplicati.i.dfl.mn {
	encode zstd gzip
	reverse_proxy tasks_duplicati:8200
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

deluge.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_deluge:8112
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

sonarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_sonarr:8989
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

radarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_radarr:7878
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

bazarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_bazarr:6767
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

jackett.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_jackett:9117
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

overseerr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy lauraflix_overseerr:5055
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
