requests.georgeflix.uk {
	encode zstd gzip
	reverse_proxy ombi:3579
}

deluge.i.dfl.mn {
	encode zstd gzip
	reverse_proxy deluge:8112
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

sonarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy sonarr:8989
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

radarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy radarr:7878
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

bazarr.i.dfl.mn {
	encode zstd gzip
	reverse_proxy bazarr:6767
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

jackett.i.dfl.mn {
	encode zstd gzip
	reverse_proxy jackett:9117
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

metube.i.dfl.mn {
	encode zstd gzip
	reverse_proxy metube:8081
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

hue.i.dfl.mn {
	encode zstd gzip
	reverse_proxy hue:8888
	tls security@duffeman.co.uk {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /config/root.public.pem
		}
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

matrix.dfl.mn {
	encode zstd gzip
	reverse_proxy /_matrix/* matrix:8008
	respond /.well-known/matrix/server "{ \"m.server\": \"matrix.dfl.mn:443\" }"
	respond /.well-known/matrix/client "{ \"m.homeserver\": { \"base_url\": \"https://app.element.io\" } }"
	tls security@duffeman.co.uk {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
